.crop-predictor {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  } 
  .main-pred{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20px; 
    min-height: 88vh;  
    box-sizing: border-box;
  }

  .crop-head {
    text-align: center;
    color: #333;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  label {
    font-size: 1rem;
    color: #555;
  }
  
  input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-btn {
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #45a049;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
  }
  
  .prediction-results {
    margin-top: 20px;
    padding: 10px;
    background-color: #e7f7e7;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .prediction-results h3 {
    text-align: center;
  }
  
  .prediction-results ul {
    list-style-type: none;
    padding: 0;
  }
  
  .prediction-results li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 8px;
  }
  
  .prediction-results strong {
    color: #333;
  }
  