.login-form {
  padding: 30px 25px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fafafa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 25%;
  min-height: 20%;
}

.Wlcm{
  color: #fff;
  font-size: x-large;
  margin-top: -100px;
}

.main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/public/sunset-rice.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    overflow: hidden;
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: -1;
  }

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  color: #333;
}

.login-form input{
  display: block;
  width: 93%;
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #aaa;
  border-radius: 6px;
  font-size: 16px;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #218838;
}

.form-link {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}