.form-container {
    width: 30%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-heading {
    text-align: center;
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .sell-form{
    display: flex;
    height: 88vh;
    justify-content: center;
    align-items: center;
  }
  .sell-crop-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  /* Input field styling */
  .form-input {
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .form-input:focus {
    border-color: #28a745;
  }
  
  /* Submit button styling */
  .submit-button {
    padding: 12px;
    font-size: 1.1rem;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #218838;
  }
  
  .submit-button:active {
    background-color: #1e7e34;
  }
  