.weather-container {
  text-align: center;
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.search-box input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 60%;
}

.search-box button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.weather-info {
  background: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.forecast-container {
  margin-top: 20px;
}

.forecast {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.forecast-item {
  background: white;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
